# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb

# Temp files
*~
*.auto.*
*.user
*.suo
*.opensdf
*.sdf
*.swp
*.ilk
*.idb
*.exp
*.bak
intermediate/*
output/*
*/build/*
ipch/*
*temp/*